*{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
}

.grid{
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: rgb(255, 255, 255);
}

.cell {
    border: 1px solid rgba(0, 0, 0, 0.356);
}

h1 {
    color:black;
}

.btn-container {
    display: flex;
    gap: 10px;
    padding: 0px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.slider-container {
    display: flex;
    gap: 10px;
    
    padding: 30px;
}

.number-slider {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;    
    border: 2px solid black;
    margin: 20px;
    border-radius: 12px;
    background-color: aliceblue;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}