.grid{
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: rgb(255, 255, 255);
}

.cell {
    border: 0.01px solid rgba(0, 0, 0, 0.356);
}