*{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.grid{
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: rgb(255, 255, 255);
}

.cell {
    border: 1px solid rgba(0, 0, 0, 0.356);
}

.btn-container {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
}

.slider-container {
    display: flex;
    gap: 10px;
    
    padding: 30px;
}